@import "normalize.css";
:root {
    --color-primary: #4484ce;
    --color-secondary: #e44e40;
    --color-neutral-light: #eee;
    --color-neutral-dark: #0d0d0d;
}

*, *:before, *:after {
    box-sizing: border-box;
}

html {
  font-size: 1em;
}

body {
  color: var(--color-neutral-dark);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

h1, h2, h3, h4, h5, p {
  margin-bottom: .75em;
  margin-top: .75em;
}

h1 { font-size: 3rem; }
h2 { font-size: 2.25rem; }
h3 { font-size: 1.5rem; }
h4 { font-size: 1.313rem; }
h5 { font-size: 1.125rem; }

.hero {
  align-items: center;
  display: flex;
  height: 12.5em;
  justify-content: center;
}

main, .main,
nav, .nav {
  margin: 0 auto;
  max-width: 55em;
  padding: 0 1.5em;
}

nav, .nav {
  align-items: stretch;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.nav-left {
  flex-shrink: 1;
  align-self: flex-start;
  order: 1;
}
.nav-right {
  flex-shrink: 1;
  align-self: flex-end;
  order: 2;
}
.nav-item {
  padding: 1em .5em;
}

a, .link {
  appearance: none;
  background-color: transparent;
  border: none;
  color: color(var(--color-neutral-dark) l(60%));
  cursor: pointer;
  padding: 0;
  text-decoration: none;
}

a:hover, .link:hover,
p > a, p > .link  {
  text-decoration: underline;
}

.button {
  appearance: none;
  background-color: var(--color-neutral-light);
  border: none;
  border-radius: 3px;
  display: inline-block;
  padding: .5em 1em;
  text-align: center;
  transition: all 500ms;
}
.button:hover {
  color: var(--color-neutral-light);
  background-color: color(var(--color-neutral-dark) l(+ 20%));
}
.button:focus, .button:active {
  color: var(--color-neutral-light);
  background-color: color(var(--color-neutral-light) l(- 20%));
}
.button.primary {
  color: var(--color-primary);
}
.button.primary:hover {
  background-color: color(var(--color-primary) l(- 2%));
  color: var(--color-neutral-light);
}
.button.secondary {
  color: var(--color-secondary);
}
.button.secondary:hover {
  background-color: color(var(--color-secondary) l(- 2%));
  color: var(--color-neutral-light);
}

.button.small {
  font-size: .85rem;
  padding: .35em .5em;
}
.button.large {
  font-size: 1.15rem;
  padding: .75em 1.15em;
}